@import 'bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: hsl(0, 0%, 90%);
  height: 100%;
}

.app-content {
  background-color: white;
  height: 812px;
  width: 375px;
}

.full-height {
  height: 100vh;
}

.live-clock {
  width: 54px;
  height: 16px;
  left: 0;
  top: calc(50% - 16px / 2 + 0.5px);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: -0.28px;
  color: hsl(0, 0%, 0%);
}
